#flip, #panel 
{
	padding: 5px;
	text-align: center;
	background-color: #e5eecc;
	border: solid 1px #c3c3c3;
}

#panel 
{
	padding: 50px;
	display: none;
}
#animation {
	padding: 5px;
	background-color: powderblue;
	text-align: center;
	border: solid 1px #c3c3c3;
}
.important {
	font-weight: bold;
	font-size: xx-large;
}

.blue {
	color: blue;
}
#div5 {
	height: 100px;
	width: 300px;
	padding: 10px;
	margin: 3px;
	border: 1px solid blue;
	background-color: lightblue;
